* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main_container {
  margin: 0 auto;
  max-width: 1100px;
  background-color: #c4c4c4;
  padding: 50px;
}

.container {
  min-width: 1000px;
  background-color: #e6e6e6;
  margin-bottom: 50px;
}

.container:last-child {
  margin-bottom: 0;
}

p {
  background-color: #fc8f8f;
  width: 200px;
  height: 200px;
  margin: 0;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #ffffff;
  text-align: center;
  padding: 63px;
  display: inline-block;
}

.p2_cont1 {
  float: right;
}

.cont2_inside {
  display: inline-block;
  float: right;
}

.p2 {
  height: 100px;
  width: 100px;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-left: 15px;
  padding: 31px;
}

.line3_cont1 {
  display: inline-block;
}

.p2_cont3 {
  margin-left: 15px;
}
