* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.main_container {
  margin: 0 auto;
  width: 1100px;
  height: 800px;
  background-color: #C4C4C4;
  display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items:center;

}

.container {
  display: flex;
  min-height: 200px;
  flex-direction: row;
  width: 1000px;
  border: 1px solid;
  background-color: #E6E6E6;
}

p{
  background-color: #FC8F8F;
  height: 100%;
  width: 20%;
  margin: 0;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    padding-top: 50px;
}

.cont_1 {
  display: flex;
justify-content:space-between;
}

.cont_2{
  display: flex;
  justify-content: space-between;
}

.cont_2inside {
  display: flex;
  height: 50%;
}

.items2 {
min-width: 100px;
margin-left: 15px;
font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
padding-top: 31px;
}